.footer {
    background: lighten($primary-color, 10%);
    text-align: center;
    display: block;
    padding: $padding * 2 0;

    &__wrap {
        @extend %wrapper;
    }

    small {
        color: #fff;
    }
}
