/**
 * Here lie the styles for the navigation of the site
 */
.navigation {
    @include col(5/9);

    ul {
        display: none;

        @include mt(500px) {
            display: block;
            float: right;
        }

        li {
            line-height: 100px !important;
            float: left;
            margin-left: $padding;
        }
    }

    &__link {
        color: $nav-color;

        &:hover {
            color: $secondary-color;
        }
    }

    &__toggle {
        @extend %h1;
        display: inline;
        position: absolute;
        top: $padding;
        right: 5%;
        font-weight: lighter;
        color: #fff !important;
        opacity: 0.7;
        transition: opacity .3s linear;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        @include mt(500px) {
            display: none;
        }
    }
}
