/**
 * This file includes all of our placeholders
 */
%wrapper {
    @include center(90%);

    @include mt(920px) {
        @include center(900px);
    }

}

%h1 {
    font-size: 2em;
    font-weight: bold;
}

%h2 {
    font-size: 1.8em;
    font-weight: bold;
}

%h3 {
    font-size: 1.5em;
    font-weight: bold;
}

%h4 {
    font-size: 1.2em;
    font-weight: bold;
}
